/* admin */
div.content{
    text-align: center;
    width: 450px;
    margin: 10px 100px 25px;
}

h2{
    margin-bottom: 10px;
}

textarea {
    height: 50px;
    min-height: 50px;
    max-height: 150px;
    width:265px;
    resize: vertical;
    border-radius:15px;
    border: 2px solid gray;
    padding: 15px;

    /* border: 2px solid ; */
}

textarea:focus {
    outline: none;
    border: 2px solid #a3edde;
}

.in_file{
    margin-top: 15px;
    height: 100%;
    width: 300px;
    text-align: center;
    display:table;
}
input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	/* position: absolute; */
	z-index: -1;
}

input[type="file"] + label {
    height: 100%;
    color: #2D866E;
    float: left;
    padding-left: 25px;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
    cursor: pointer;
    color: #a3edde;
}

.error{
    color: #ff000080;
}