/* login */
div.content{
    text-align: center;
    margin: 10px 100px 25px;
}

div.redir {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 15px;
    justify-content: space-between;
}

.redir>a{
    margin-right: 20px;
}