/* body */
.window{
    z-index: 3;
}

/* header */
.h_back {
    background-color: #89dfcc;
    background-image: url(/resources/site/Banner.svg);
    transform: scale(-1, -1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#h_rad {
    z-index: 1;
    pointer-events: none;
    align-self: center;
    height: 150%;
    width: 900%;
    top: -60vh;
    background: radial-gradient(rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0) 20%);
    position: absolute;
}

#h_line{
    z-index: -1;
    height: 40%;
    width: 100%;
    background: linear-gradient(180deg, #a3edde 5%, rgba(255, 255, 255, 0) 30%);
    position: absolute;
}

.header{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
}

.nav{
    z-index: 2;
    transform: translateY(-100%);
}

div.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1.title_site {
    margin-left: 50px;
    color: #2d866e;
    font-size: 20px;
}

a.title_site:hover{
    cursor: pointer;
}

#logo {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    width: 50px;
    transform: translateX(-50%);
}

#navigation {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    gap: 3vw;
}

#logo_panier {
    display: flex;
}

button.navigation {
    border: none;
    color: #2D866E;
    text-align: center;
    font-weight: bold;
    font-size: 18;
    min-width: 100px;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #3bb997d0;
}

button.navigation:hover {
    color: #66E1C8;
    cursor: pointer;
}

/* body */
#f_rad {
    z-index: 1;
    align-self: center;
    height: 300%;
    width: 600%;
    bottom: -115vh;
    background: radial-gradient(rgb(255, 255, 255) 5%, rgba(0, 0, 0, 0) 20%);
    position: absolute;
}

#f_line {
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #a3edde 5%, rgba(255, 255, 255, 0) 30%);
    position: absolute;
    mask-image: url(#logo_facebook.svg);
}

/* Footer */
footer {
    background-color: #89dfcc;
    background-image: url(/resources/site/Banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer_nav{
    z-index: 2;
}

img.footer_nav {
    display: inline-block;
}

div.footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15vw;
    align-items: center;
    width: 40%;
    padding-top: 25px;
}

#copyright {
    transform: translateY(-50%);
    font-size: 2vh;
    color: white;
}

/* banner footer */
div.corner {
    z-index: 4;
    width: 100%;
    height: 10vw;
    pointer-events: none;
}

.corner {
    position: absolute;
    bottom: 0;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

/* COOKIE */
#c_div {
    z-index: 6;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

.cookie>p{
    margin: 10px 0;
    text-align: center;
}

.cookie>#c_buttons>button{
    margin: 5px 15px;
}

div.cookie{
    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.356);
}

button.disconnect:hover span{
    display: none;
}
  
button.disconnect:hover:before {
    content: "Deconnexion";
}